<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring5RecipeAppApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateResources" />
    <module name="spring5-recipe-app" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.springframework.Spring5RecipeAppApplication" />
    <option name="UPDATE_ACTION_UPDATE_POLICY" value="UpdateResources" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>